{% case include.text %}
  {% when 'Contact Information' -%}
    <span data-lang="zh">联系方式</span><span data-lang="en">Contact Information</span>
  {% when 'Name' -%}
    <span data-lang="zh">姓名</span><span data-lang="en">Name</span>
  {% when 'Professional Title' -%}
    <span data-lang="zh">职业头衔</span><span data-lang="en">Professional Title</span>
  {% when 'Email' -%}
    <span data-lang="zh">邮箱</span><span data-lang="en">Email</span>
  {% when 'Phone' -%}
    <span data-lang="zh">电话</span><span data-lang="en">Phone</span>
  {% when 'Location' -%}
    <span data-lang="zh">地点</span><span data-lang="en">Location</span>
  {% when 'Website' -%}
    <span data-lang="zh">网站</span><span data-lang="en">Website</span>
  {% when 'Professional Summary' -%}
    <span data-lang="zh">个人简介</span><span data-lang="en">Professional Summary</span>
  {% when 'Experience' -%}
    <span data-lang="zh">经历</span><span data-lang="en">Experience</span>
  {% when 'Education' -%}
    <span data-lang="zh">教育经历</span><span data-lang="en">Education</span>
  {% when 'Awards' -%}
    <span data-lang="zh">奖项</span><span data-lang="en">Awards</span>
  {% when 'Honors and Awards' -%}
    <span data-lang="zh">荣誉与奖项</span><span data-lang="en">Honors and Awards</span>
  {% when 'Publications' -%}
    <span data-lang="zh">论文</span><span data-lang="en">Publications</span>
  {% when 'Skills' -%}
    <span data-lang="zh">技能</span><span data-lang="en">Skills</span>
  {% when 'Languages' -%}
    <span data-lang="zh">语言</span><span data-lang="en">Languages</span>
  {% when 'Interests' -%}
    <span data-lang="zh">兴趣方向</span><span data-lang="en">Interests</span>
  {% when 'Academic Interests' -%}
    <span data-lang="zh">学术兴趣</span><span data-lang="en">Academic Interests</span>
  {% when 'Certificates' -%}
    <span data-lang="zh">证书</span><span data-lang="en">Certificates</span>
  {% when 'Projects' -%}
    <span data-lang="zh">项目</span><span data-lang="en">Projects</span>
  {% when 'Open Source Projects' -%}
    <span data-lang="zh">开源项目</span><span data-lang="en">Open Source Projects</span>
  {% when 'References' -%}
    <span data-lang="zh">推荐人</span><span data-lang="en">References</span>
  {% else -%}
    {{ include.text }}
{% endcase %}
