{% assign repo_name = include.repository.name | default: include.repository %}
{% if include.repository.url %}
  {% assign repo_link = include.repository.url %}
{% else %}
  {% assign repo_link = repo_name | prepend: 'https://github.com/' %}
{% endif %}
{% assign repo_description = include.repository.description %}
{% assign repo_visibility = include.repository.visibility %}
{% assign repo_url = repo_name | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign lang = site.lang | split: '-' | first %}

{% case lang %}
  {% when 'pt' %}
    {% assign lang = site.lang %}

  {% when 'zh' %}
    {% assign lang_last = site.lang | split: '-' | last %}
    {% case lang_last %}
      {% when 'cn', 'sg', 'my', 'hans' %}
        {% assign lang = 'cn' %}
      {% when 'tw', 'hk', 'mo', 'hant' %}
        {% assign lang = 'zh-tw' %}
    {% endcase %}

    {% comment %} Add a new language using when... if needed {% endcomment %}
    {% comment %} If you still encounter language-display issues, check the available locale codes in github-readme-stats (different from ISO-639 standard used in your website) {% endcomment %}
    {% comment %} https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
{% endcase %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

<div class="repo p-2 text-center">
  <a
    href="{{ repo_link }}"
    class="d-block text-left p-3"
    style="border: 1px solid var(--global-divider-color); border-radius: 6px; min-height: 120px"
  >
    <h5 class="mb-2">{{ repo_name }}</h5>
    {% if repo_description %}
      <p class="mb-2">{{ repo_description }}</p>
    {% endif %}
    {% if repo_visibility %}
      <span class="badge rounded">{{ repo_visibility }}</span>
    {% endif %}
  </a>
</div>
